a {
    text-decoration: none;
}

h2 a {
    color: seagreen;
}

body {
    background-color: lightskyblue;
}

p {
    font-size: 20px;
    text-align: center;
    color: darkslategray;
    font-family: Impact;
}

html {
    font-family: Arial;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    justify-items: center;
}

h1 {
    color:rgb(237, 237, 121);
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
 }

 .title {
    margin: 0 auto;
    width: 400px;
    background-color: rgb(61, 180, 61);
    border-radius: 30px;
 }

 .films {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    justify-items: center;
 }

 .button {
   display: flex;
 }

 button {
    width: 100px;
    margin: 0 2px;
 }

 img {
    width: 200px;
    height: 280px;
 }